.logo{
    height: 40px;
    margin-top: -10px;
}

body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-tile{
    text-align: center;
}